 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');






#search-results {
    font-family: "Quicksand", "Arial", sans-serif;
    font-size: 15px;
    text-align: center;
}


h1 {
    font-family: "Quicksand", "Arial", sans-serif;
    font-size: 35px;
    text-align: center;
}


body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  background-color: #F6F5F0;
  color: #433F42;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 960px; */
}


#tag-div {
    text-align: center;
}




ul {
    list-style: none;
}


li {
    display: block;
    font-size: 16px;
}


.nav-item {
    display: block;
}




.related-items {
    margin-right: 30px;
    /* background-color: #EBEBEB; */
    /* border-radius: 20px; */
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}




#filter {
    /* display: inline-block; */
    font-family: "Quicksand", "Arial", sans-serif;
    font-weight:600;
}


li {
    display: inline;
}
/*
div {
    display: inline;
} */




.container {
    display:grid;
    grid-template-columns: 20% 22% 22% 22%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}




.filters {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}




.products {
    width: 250px;
}


.filter-heading {
    margin-left: 5%;
}


.minority {
    margin-left: 25%;
    /* margin-top: 0px; */
    font-weight:lighter;
}


/* drop down maybe for filters */
 .dropdown-check-list {
        display: inline-grid;
      }


      .dropdown-check-list .anchor {
        position: relative;
        cursor: pointer;
        display: inline-grid;
        padding: 5px 50px 5px 10px;
      }


      .dropdown-check-list .anchor:after {
        position: absolute;
        content: "";
        border-left: 2px solid black;
        border-top: 2px solid black;
        padding: 5px;
        right: 10px;
        top: 20%;
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
      .dropdown-check-list .anchor:active:after {
        right: 8px;
        top: 21%;
      }


      .dropdown-check-list ul.items {
        padding: 2px;
        display: none;
        margin: 0;
        border-top: none;
      }


      .dropdown-check-list ul.items li {
        list-style: none;
      }
      .dropdown-check-list.visible .anchor {
        color: #BE8F69;
      }


      .dropdown-check-list.visible .items {
        display: inline-grid;
      }


    /* for price */
    .dropdown-check-list {
        display: inline-grid;
      }


      .dropdown-check-list .anchor {
        position: relative;
        cursor: pointer;
        display: inline-grid;
        padding: 5px 50px 5px 10px;
      }


      .dropdown-check-list .anchor:after {
        position: absolute;
        content: "";
        border-left: 2px solid black;
        border-top: 2px solid black;
        padding: 5px;
        right: 10px;
        top: 20%;
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
      .dropdown-check-list .anchor:active:after {
        right: 8px;
        top: 21%;
      }


      .dropdown-check-list ul.items {
        padding: 2px;
        display: none;
        margin: 0;
        border-top: none;
      }


      .dropdown-check-list ul.items li {
        list-style: none;
      }
      .dropdown-check-list.visible .anchor {
        color: #BE8F69;
      }


      .dropdown-check-list.visible .items {
        display: inline-grid;
      }




.items {
    display: inline-grid;
   
}


#list1, #list2 {
    margin-left: 20%;
}


.items li {
    padding-bottom: 5px;
    margin-left: 10%;
}


.filter-pad {
    width: 200px;
}


.price-pad {
    width: 150px;
}


figure {
    margin-right: 0px;
}






/* responsive design not working  */
/* @media (max-width: 576px) {
    .container {
    grid-template-columns: 1fr 1fr 1fr;
 
}
.filters {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
} */
   






















/* footer nav  */


.nav {
    display: inline;  
}






/* footer */
#copyright
    {
        margin-left: 10px;
    }
    .footer {
        background-color: #BE8F69;
        display: flex;
        color: #F7F6F2;
        font-family: "Quicksand", "Arial", sans-serif;
        height: 50px;
        line-height: 50px;
        justify-content: space-between;
    }
    #newsletter-input{
        border: none;
        border-radius: 5px;
        font-family: sans-serif;
        margin-left: 10px;
        margin-right: 10px;
        height: 30px;
    }  


.link {
    color:#433F42;
}


        body
    {
        font-family: Open Sans;
        color: #433F42;
        font-size: 18px;
        background-color: #F6F5F0;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    #nav {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #BE8F69;
    }
    #logo {
        height: 40px;
        width: auto;
        margin-left: 10px;
    }
    #search {
        height: 20px;
    }
    .nav-menu {
        display: flex;
        margin-left: auto;
        font-family: "Quicksand", "Arial", sans-serif;
        margin-top: 15px;
    }
    .nav-menu li
    {
        list-style: none;
        padding: 25px;
    }
    a {
        text-decoration: none;
        color: #F7F6F2;
    }
