@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

		/* {
			align-items: center;
			color: #F7F6F2;
		} */

		#login-everything {
			margin: 0px auto;
			align-items: center;
			background-color: #BE8F69;
			text-align: center;
			font-family: "Open Sans", "Arial", sans-serif;
			border-radius: 15px;
			width: 450px;
			height: 580px;
			padding: 15px;
		}

		#login {
			padding-top: 17px;
		}

		.login-p {
			margin: 0;
			padding: 0;
			font-size: 0.8em;
		}

		.login-headers {
			padding: 10px;
			font-family: "Quicksand", "Arial", sans-serif;
			padding: 0;
			margin: 0;
		}
		
		.login-hr {
			width: 300px;
			text-align: center;
			align-items: center;
			margin: 0px auto;
		}

		.response-headers {
			width: 350px;
			font-family: "Quicksand", "Arial", sans-serif;
		}

		.keep-login {
			text-align: left;
			width: 350px;
			font-size: 0.8em;
		}

		#keep-id {
			width: 17px;
		}

		.inputs {
			width: 350px;
			height: 35px;
  			background-color: #BE8F69;
  			border: 1px solid #F7F6F2;
  			border-radius: 15px;
  			margin-bottom: 15px;
		}

		.login-buttons {
			width: 350px;
			height: 35px;
  			border: 1px solid #F7F6F2;
  			border-radius: 15px;
  			background-color: #F7F6F2;
		}

		#next-text1 {
			color: #BE8F69;
		}

		#close-login {
			width: 20px;
			float: right;
			margin-top: 5px;
			margin-right: 10px;
			margin: 0px auto;
		}

		#joinus {
			background-color: #BE8F69;
		}